.App {
  text-align: center;
  width: 60%;
 border: 1px solid black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 165px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 10px;
  text-align: left 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-footer {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.li-todos {
    background-color: #0080326b;
    padding: 5px;
    margin-bottom: 4px;
    border: 1px solid black;
    width:50%;
}

li {
  list-style: none;
}

.div-newTodo {
   padding: 0%;
   margin-bottom: 17px;
}

.btn-newTodo {
  width: 27%;
}

#deleteBtn{
  float: right;
}
